.main {
 .main-section {
   width: 100%;
   height: 100vh;
   padding-top: 70px;
   box-sizing: border-box;
   background-repeat: no-repeat;
   background-image: url("../images/main/bg-01-temp.jpg");
   background-size: cover;
   background-position: 50% 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   @include respond-to(720) {
     background-image: url("../images/main/bg-01-temp-mobile.jpg");
   }
   &__title {
     background: url("../images/common/img-logo-2-temp.png") 51% 0 no-repeat;
     padding-top: 13.7vh;
     font-size: 50px;
     font-weight: 800;
     line-height: 1.25;
     color: #fff;
     text-align: center;
     background-size: 13.7vh;
     &--impact {
       font-size: 60px;
       display: block;
       margin-bottom: 5px;
       @include respond-to(720) {
         font-size: 30px;
       }
     }
     @include respond-to(720) {
       background-size: 80px;
       padding-top: 80px;
       font-size: 22px;
       text-align: center;
     }
   }
   .main-button-area {
     display: flex;
     align-items: center;
     @include respond-to(721,'min-width') {
       .main-section__link {
         & + .main-section__link {
           margin-left: 25px;
         }
       }
     }
     @include respond-to(720) {
       flex-direction: column;
     }
   }
   &__description {
     margin-top: 3.3vh;
     margin-bottom: 3vh;
     font-size: 35px;
     line-height: 1.33;
     color: $white;
     text-align: center;
     &-small {
       margin-top: 6.11vh;
       color: $white;
       text-align: center;
       font-size: 32px;
       font-weight: 800;
       @include respond-to(720) {
         margin-top: 9vw;
         font-size: 16px;
       }
       small {
         &:first-child {
           margin-top: 1.8vh;
           @include respond-to(720) {
             margin-top: 2vw;
           }
         }
         margin-top: 5px;
         color: $white;
         font-weight: 600;
         display: block;
         font-size: 18px;
         @include respond-to(720) {
           font-size: 14px;
         }
       }
     }
     @include respond-to(720) {
       margin-top: 5.2vw;
       margin-bottom: 8.3vw;
       font-size: 17px;
     }
   }
   &__link {
     display: block;
     margin-top: 1.8vh;
     @include respond-to(720) {
       margin-top: 3.6vw;
       width: 56%;
     }
   }
 }
  &-content {
    padding: 150px 0 150px;
    @include respond-to(720) {
      padding: 20vw 0;
    }
    &__title {
      color: $greyish-brown;
      font-size: 40px;
      font-weight: normal;
      margin-top: 6px;
      margin-bottom: 70px;
      &-english {
        color: $greyish-brown;
        font-size: 40px;
        font-weight: 800;
        line-height: 1;
      }
      @include respond-to(720) {
        font-size: 20px;
        margin-bottom: 9.7vw;
        &-english {
          font-size: 17px;
        }
      }
    }
    .main-intro-content {
      color: $greyish-brown;
      line-height: 1.78;
      font-size: 18px;
      @include respond-to(720) {
        font-size: 13px;
        line-height: 1.5;
      }
    }
    &.intro {
      .main-content__title {
        margin-bottom: 53px;
        @include respond-to(720) {
          margin-bottom: 7.36vw;
        }
      }
    }
    &.spirit {
      background-color: $turquoise;
      * {
        color: $white;
      }
      .main-content__title {
        margin-bottom: 64px;
      }
      .pc--hide {
        width: 72.5%;
        margin: 0 auto;
        display: block;
      }
    }
    &.history {
      background-color: $white;
      background-repeat: no-repeat;
      background-image: url("../images/main/bg-02-temp.png");
      background-size: cover;
      background-position: 50% 50%;
      @include respond-to(720) {
        background-image: url("../images/main/bg-02-temp-mobile.png");
      }
    }
    &.service {
      .main-section__link {
        margin-top: 60px;
        text-align: center;
        @include respond-to(720) {
          margin-top: 13vw;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    &.location {
      background-color: $very-light-grey;
    }
    &.inquiry {
      padding: 123px 0 194px;
      background-repeat: no-repeat;
      background-image: url("../images/main/bg-03-temp.jpg");
      background-size: cover;
      background-position: 50% 50%;
      text-align: center;
      .mobile--hide {
        display: inline-block !important;
        @include respond-to(720) {
          display: none !important;
        }
      }
      .main-section__link {
        margin-top: 57px;
      }
      @include respond-to(720) {
        background-image: url("../images/main/bg-03-temp-mobile.jpg");
        padding: 17vw 3.6% 27vw;
        .main-section__link {
          margin-top: 13vw;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
